@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body{
    background-color: #fffbf7;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #ece8e4;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

header h1{
    margin-bottom: 0;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header img{
    width: 200px;
    margin: 20px;
}

nav{
    position: sticky;
    top: 0px;
    font-size: 1.2rem;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    background-color: #f7f1eb;
    padding: 0;
}

nav ul li{
    width: 100%;
    text-align: center;
    margin: 0;
} 

nav ul li a{
    display: block; /* Lo convierto en block para que ocupe todo el ancho posible */
    padding: 3% 0;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

nav ul li a:hover{
    background-color: #00000015;
    box-shadow: 0 0 2px rgb(201, 200, 200);
}

main{
    margin: 0 5%;
}

.slider-frame{
    max-width: 1280px;
    max-height: 720px;
    margin: 0 auto;
    overflow: hidden;
}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    width: 100%;
    margin: 0;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

main article{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 3% 10%;
}

main article a{
    border: 1px solid lightgray;
    width: 30%;
    border-radius: 8px;
    min-width: 200px;
    margin: 2%;
    text-decoration: none;
    color: black;
}

main article a:hover{
    box-shadow: 1px 1px 4px lightgray;
}

main article a h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

main article a p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0 15% 15%;
    font-size: 1.2rem;
}

main article a img{
    width: 70%;
}

footer{
    background-color: #f7f1eb;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

footer #year{
    display: block;
    margin: auto;
    padding: 0 0 1%;
}

footer #informacion{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    position: relative;
}

footer #informacion ul{
    padding: 0;
    margin: 3%;
    list-style: none;
    min-width: 250px;
}

footer #informacion ul iframe{
    margin: 20px;
}

footer #informacion ul li{
    margin: 10px;
}

footer #informacion ul li a{
    color: black;
    text-decoration: none;
}

footer #informacion ul li a:hover{
    color: rgb(155, 9, 9);
    text-decoration: underline;
}

@media(max-width:600px){
    footer #informacion{
        flex-direction: column;
        align-items: center;
    }
    main article{
        flex-wrap: wrap;
        margin: 1% 0 10%;
    }

    main article a{
        min-width: 90%;
    }

    nav ul li a{
        height: 30px;
    }
}

@media(max-width:850px){
    footer #informacion ul{
        min-width: auto;
    }
    main article a{
        max-height: 300px;
        margin: 1% 0;
        overflow: auto;
    }
}

@media(min-width:3000px){
    main{
        margin: 0 30%;
    }
    *{
        font-size: 1.5rem;
    }
    footer #informacion ul{
        min-width: 600px;
    }
}